<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A07PALSOS.Properties.Settings.A07PALSOSConnectionString"
            connectionString="Data Source=DESKTOP-EQIGCK5;Initial Catalog=A07PALSOS;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="A07PALSOS.Properties.Settings.A07PALSOSConnectionString1"
            connectionString="Data Source=DESKTOP-EQIGCK5;Initial Catalog=A07PALSOS;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>